
a{
    text-decoration:none !important;
    color:white !important;
}

.login-container, .sign-up-container{
    margin-top:10%;
}

.profile-pic{
    width:300px;
    height:350px;
    background-color:grey;
    margin:0 auto;
    margin-top:5%;
    border: 1.5px solid black;
    border-radius: 0%;
}

tr:hover{
    background-color:#E0E0E0;
}

.login-btn{
    font-family: 'Nerko One', cursive;
}

#login-title{
    font-family: 'Nerko One', cursive;
    font-size:60px;
    color:white;
    margin-top:0% !important;
}

#login-subtitle{
    font-size:24px;
    color:white;
}

.login-left{
    background-color:blue;
    width:50%;
    height:1200px;
    margin-top:0%;
}

.login-right{

}

.login-card-title, .stay-signedin-text{
    font-family: 'Nerko One', cursive;
    font-size:30px;
}

#signature{
    font-family: 'Dancing Script', cursive;
    font-size:25px;
    position:absolute;
    right:10px;
    bottom:0px;
}

.cube{
    width:100px;
    height:100px;
}

#cube1{
    position:absolute;
    right:100px;
    bottom:75px;
}

#cube2{
    position:absolute;
    right:700px;
    bottom:200px;
}
#cube3{
    position:absolute;
    right:100px;
    bottom:325px;
}
#cube4{
    position:absolute;
    right:700px;
    bottom:450px;
}
#cube5{
    position:absolute;
    right:100px;
    bottom:575px;
}
#cube6{
    position:absolute;
    right:700px;
    bottom:700px;
}
#cube7{
    position:absolute;
    right:100px;
    bottom:825px;
}
#signup-banner{
    width:100%;
    height:75px;
}
.banner-text{
    margin-left:18%;
}

.banner-text-profile-description{
    margin-left:22%;
}

#signup-logo{
    font-family: 'Nerko One', cursive;
    font-size:35px;
}
#home-logo{
    font-family: 'Nerko One', cursive;
    font-size:35px;
    padding-right:3% !important;
}
#logout-text{
    font-family: 'Nerko One', cursive;
    margin-top:20%;
    font-size:75px;
}
.logout-cube{
    width:100px;
    height:100px;
    position:absolute;
}
#cube8{
    top:5%;
    right:5%;
}
#cube9{
    top:15%;
    left:5%;
}
#cube10{
    top:25%;
    right:5%;
}
#cube11{
    top:50%;
    left:5%;
}
#cube12{
    top:60%;
    right:5%;
}
#cube13{
    top:70%;
    left:5%;
}